<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="d3126412-6b03-4e0f-b135-9f0345760ff6"
    Publisher="CN=sauln"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d3126412-6b03-4e0f-b135-9f0345760ff6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Titan</DisplayName>
    <PublisherDisplayName>sauln</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Titan.App">
      <uap:VisualElements
        DisplayName="Titan"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Titan"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="gemini">
            <uap:DisplayName>Titan: Gemini Browser</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gemini">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/gemini">.gmi</uap:FileType>
              <uap:FileType ContentType="text/gemini">.gmni</uap:FileType>
              <uap:FileType ContentType="text/gemini">.gemini</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Titan: Gemini Browser</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>